<h1 class="title">Search Results</h1>

<% if @search.search_books.empty? %>
  <p>No Records Found</p>
<% else %>
  <% @search.search_books.each do |c| %>
    <br>
    <div class="">
      <h1><%= link_to c.name, clothing_path(c.id) %></h1>
      <p>Price: $<%= c.price %></p>
      <p>Category: <%= c.clothing_type %></p>
    </div>
  <% end %>
<% end %>