<% customer.each do |customer| %>
  <div class="column">
    <div class="card">
      <p class="title is-4"><%= customer.full_name %></p>
      <% if customer.image.present? %>
        <div class="card-image">
          <figure class="image">
            <%= image_tag customer.image %>
          </figure>
        </div>
      <% end %>
      <div class="media-content">
        <p><%= customer.phone_number %></p>
        <br>
        <% if customer.email_address.present? %>
          <p><%= customer.email_address %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>