<div class="tile is-ancestor">
  <% @clothes.in_groups_of(4) do |clothing| %>
    <% clothing.each do |details| %>
      <div class="column">
        <div class="card">
          <p class="title is-4"><%= details.brand %></p>
          <% if details.image.present? %>
            <div class="card-image">
              <figure class="image">
                <%= image_tag details.image %>
              </figure>
            </div>
          <% end %>
          <div class="media-content">
            <strong><%= details.name%></strong>
            <br>
            <strong>$<%= details.price %></strong>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>