<div class="columns is-multiline">
  <% @clothes.each do |clothing| %>
    <div class="column is-one-quarter clothingbox">
      <div class="card">
          <div class="card-image">
            <figure class="image">
              <%= image_tag clothing.image %>
            </figure>
          </div>
        <div class="media-content">
          <strong><%= clothing.brand%></strong>
          <br>
          <br>
          <strong><%= link_to clothing.name, clothing_path(clothing.id) %></strong>
          <br>
          <br>
          <strong>$<%= clothing.price %>0</strong>
        </div>
      </div>
    </div>
  <% end %>
</div>
