<details>
  <summary>Shopping Cart</summary>
    <% if @cart.empty? %>
      <p>Nothing in cart</p>
    <% else %>
    <ul>
      <% @cart.each do |product| %>
        <li><%= product.name %> | <%= link_to 'Remove', remove_from_cart_path(product.id), method: :delete %></li>
      <% end %>
    </ul>
    <% end %>
</details>
<br />
<section class="section">
  <%= image_tag ("store.jpg"), alt: "store image" %>
</section>
